body{
	background-image: url("racing1.gif");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    margin-top: 30px;
	border-width:10px;
	background-color: rgba(255, 255, 255, 0); 
	border-style:double;
	border-color: white;
}

h1,h4
{
	color: white !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 #good{
	font-family:"Tilt Prism" ;
	font-size: 70px;
 }